*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

body{
    font-family: "Trebuchet Ms",Helvetica, sans-serif;
    background: #e6e6e6;
}

.cabecalho{
    background: #f7b600;
    text-align: center;
    padding: 15px;
    user-select: none;
}

.logo{
    color: #4e4e4e;
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.branco{
    color: white;
}

.menu a{
    
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    transition: 0.5s;
}
a:hover{
    color: #f7b600;
    background: white;
}

.container{
    width: 920px;
    margin: 10px auto;
}

.container h1{
    color:#f7b600;
}

.Postagem{
    background: white;
    width: 620px;
    padding: 20px;
    float: left;
    margin-bottom: 15px;
}

.Postagem h4{
    display:block;
    padding-bottom: 15px;
    margin: 15px;
    border-bottom:1px solid #ccc;
}

.Postagem a , .recentes a{
    color: #f7b600;
    text-decoration: underline;
}

.menu-lateral{
    width: 240px;
    float: right;
}

.recentes{
    background: white;
}

.menu-lateral h3{
    color:#565656;
    padding: 5px;
    margin: 10px;
    background: #ccc;
}

.categorias{
    background: white;
}

.--{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.-- a{
    text-decoration: none;
}
